* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
}

body {
  background-color: black;
}

h1 {
  color: white;
  padding-bottom: 40px;
}
